#bodyIndex {

    overflow: hidden;
    background-image: url('../images/Presentacion_Bookhub_fondo-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 102%;
    /* background-color: #212529; */

}

/* | Navbar | */

.navbar {

    background: transparent;

}

.navbar .navbar-brand {

    display: flex;
    align-items: center;

}

.navbar .navbar-brand img {

    margin: 0 20px;
    width: 50px;
    height: 50px;

}

.navbar .navbar-brand .brandTitle {

    font-size: 25px;

}

.navbar .collapse ul {

    display: flex;
    /* border: 1px solid #000; */
    width: 100%;
    justify-content: end;
    align-items: center;

}

.navbar .collapse ul .nav-link:hover {

    text-decoration: underline;

}

.navbar #desplegable {

    text-align: center;

}

.navbar #desplegable .icon-navbar{

    font-size: 30px;

}

.submenu-wrap {

    /* border: 1px solid #000; */
    color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;

}

.submenu-wrap.open-menu {

    max-height: 400px;

}

.submenu-wrap .sub-menu {

    background-color: #000;
    padding: 20px;
    /* margin: 10px; */
    z-index: 999;

}

.submenu-wrap .sub-menu .user-information .item-text-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.submenu-wrap .sub-menu .user-information .item-text-container .item-text-item {

    /* border: 1px solid #fff; */
    display: block;
    width: 50%;

}

/* | Main Content | */

/* Contenido de la izquierda */

main {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
    /* border: 1px solid #fff; */

}

main .leftContent {

    /* border: 1px solid #fff; */
    padding: 20px;

}

main .leftContent .title {

    font-size: 42px;
    /* border:1px solid #000; */
    line-height: 45px;
    width: 90%;
    margin: auto;
    font-weight: bold;
    color: #fff;

}

main .leftContent .title .tl1 {

    display: block;
    width: 100%;
    color: #f7991c;

}

main .leftContent .title .tl2 {

    display: block;
    width: 100%;
    text-align: center;

}

main .leftContent .title .tl3 {

    display: block;
    width: 100%;
    text-align: end;
    color: #f7991c;

}

main .leftContent .contenido {

    /* border: 1px solid #000; */
    line-height: 32px;
    text-align: justify;
    width: 90%;
    margin: 40px auto 0 auto;
    color: #fff;

}

main .leftContent .btnComprar {

    /* border: 1px solid #000; */
    width: 90%;
    margin: 20px auto 0 auto;

}

main .leftContent .btnComprar a {

    background-color: #f7991c;
    font-weight: bold;
    color: #fff;

}

main .leftContent .btnComprar a:hover {

    background-color: #f3a43e;

}

/* Contenido de la derecha */

main .rightContent {

    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #fff; */
    padding: 20px;

}

main .rightContent .imgRepresentativa {

    width: 100%;
    /* border: 1px solid #000; */

}

main .rightContent .imgRepresentativa img {

    /* background-color: transparent; */
    width: 100%;
    height: auto;

}

/* REGISTER STYLE */

.registerContainer, .loginContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    /* border: 1px solid #000; */

}

.registerContainer .register, .loginContainer .login {

    border: 1px solid #ccc;
    padding: 20px;
    margin: auto;

}

.registerContainer .register .formulario .topArea, .loginContainer .login .formulario .topArea {

    display: flex;
    justify-content: space-between;

}

.registerContainer .register .formulario .topArea span, .loginContainer .login .formulario .topArea span {

    font-size: 20px;
    width: 20%;
    height: auto;
    text-align: end;

}

.registerContainer .register .formulario .topArea span a, .loginContainer .login .formulario .topArea span a {

    color: #000;

}

.registerContainer .register .formulario .topArea span a:hover,  .loginContainer .login .formulario .topArea span a:hover {

    color: #403e3e;

}

.registerContainer .register .formulario input, .loginContainer .login .formulario input  {

    margin: 10px 0;

}

.registerContainer .register .formulario input[type=submit], .loginContainer .login .formulario input[type=submit] {

    background-color:#f7991c; 

}

.registerContainer .register .formulario input[type=submit]:hover, .loginContainer .login .formulario input[type=submit]:hover {

    background-color:#f7981cce;

}

.registerContainer .enlacesCuentas {

    display: flex;
    justify-content: space-between;

}

.registerContainer .enlacesCuentas #enlaceCambioCreador:hover, .registerContainer .enlacesCuentas #enlaceCambioUsuario:hover {

    text-decoration: underline;
    cursor: pointer;

}

.registerContainer #registerCreador {

    display: none;

}

/* Catalogo Style */

.catalogo {

    border: 1px solid #000;
    padding: 20px;
    height: auto;

}

.catalogo .filtros {

    border: 1px solid #000;

}

.catalogo .libros {

    border: 1px solid #000;
    margin: auto;
    padding: 20px;

}

.catalogo .libros #bookContainer {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #000; */

}

/* Footer Style */

.footer {

    background-color: #fff;
    box-shadow: -1px -2px 9px -5px rgba(0,0,0,0.58);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: 10vh;
    /* border: 1px solid #000; */

}

.footer .navbar-nav {

    display: flex;
    flex-direction: row;

}

.footer .navbar-nav .nav-item {

    margin: 0 15px;

}

.footer .navbar-nav .nav-item:hover {

    text-decoration: underline;

}

@media screen and (max-width:990px) {

    #bodyIndex {

        overflow: scroll;

    }

    main {

        height: auto;

    }

    .submenu-wrap {

        position: relative;

    }

}