/* ESTILOS PARA EDITAR USUARIOS */

.contenedordevainas {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.perfilcliente {

    display: flex;
    flex-wrap: wrap;

}

.perfilcliente button {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid #000 2px;
    border-radius:0px

}

#linea {

    display: block;
    width: 100%;
    margin: 1rem auto;
    border:1px solid #000;

}

.in-flex:first-child {

    padding: 25px;
    margin: 20px;

}

.style-p-ccompras {

    text-align: right;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}

.perfilcliente {

	border: 2px solid #000;
	height: 70%;
	border-radius: 10px;
	margin-inline: 7%;
	margin-top: 8%;
  
}

.style-p-ccompras {
  margin-inline: 10px;
}

.bg-grey {
  background-color: grey;
}
